#web_btn {
    background-color: #76FF03;
    border-color: #64DD17;
}

#java_btn {
    background-color: #FF9100;
    border-color: #FF6D00;
}

#c_btn {
    background-color: #1DE9B6;
    border-color: #00BFA5;
}

#assem_btn {
    background-color: #D500F9;
    border-color: #AA00FF;
}

#python_btn {
    background-color: #FFEA00;
    border-color: #FFD600;
}

#other_btn {
    background-color: #F50057;
    border-color: #C51162;
}

hr {
    margin-right: 15%;
    margin-top: -15px;
}

.title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    text-decoration: none;
}

.tech {
    margin-left: 15px;
    color: darkslategrey;
    display: inline;
}

.about {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: darkgray;
}

.snip1535 {
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: 'BenchNine', Arial, sans-serif;
    font-size: 1em;
    font-size: 22px;
    line-height: 1em;
    margin: 15px 40px;
    outline: none;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 200px;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
}

.snip1535:before,
.snip1535:after {
    border-color: transparent;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    border-style: solid;
    border-width: 0;
    content: "";
    height: 24px;
    position: absolute;
    width: 24px;
}
.snip1535:before {
    border-color: inherit;
    border-right-width: 2px;
    border-top-width: 2px;
    right: -5px;
    top: -5px;
}
.snip1535:after {
    border-bottom-width: 2px;
    border-color: inherit;
    border-left-width: 2px;
    bottom: -5px;
    left: -5px;
}
.snip1535:hover,
.snip1535.hover {
    background-color: #c47135;
}
.snip1535:hover:before,
.snip1535.hover:before,
.snip1535:hover:after,
.snip1535.hover:after {
    height: 100%;
    width: 100%;
}
