.r_section {
    font-family: Cambria;
    color: darkgray;
    font-size: 16px;
    font-weight: bold;
}

.title {
    font-family: Cambria;
}

.bullet {
    padding-left: 10%;
}

span {
    width: auto;
}

.time {
    float: right;
    color: darkgrey;
}
