<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Kathryn's Portfolio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- added fonts and icons-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">

    <!-- if user is on mobile, go to mobile site -->
    <script>
        if (!(/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent))) {
            //window.location.href = "http://www.kathrynblecher.com";
        }

        /* drop down animation */
        function show() {
            document.getElementById("dmenu").classList.toggle("show");
        }
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var x = document.getElementsByClassName("dropdown-btn");
                var i;
                for (i = 0; i < x.length; i++) {
                    var open = x[i];
                    if (open.classList.contains('show')) {
                        open.classList.remove('show');
                    }
                }
            }
        }
    </script>
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<header>
    Contact
    <span class="btn-cont">
        <button onclick="show()" class="dropdown-btn"><i class="ion-navicon-round" style="font-size:30px;"></i></button>
        <div id="dmenu" class="dropdown">
            <a href="index.html">Home</a>
            <a href="resume.html">Resume</a>
            <a href="portfolio.html">Portfolio</a>
        </div>
    </span>
</header>
<div class="container">
    <div class = "mainbar" style="width:100%; text-align:center;">
        <p style = "margin-top: 12%;"></p>
            <img src = "http://kathrynblecher.com/resources/mypic.jpg" width="250" style="display:block; margin:auto;">
            <div>
                <br>
                <br>
                <span>Phone:</span>
                <br>
                <span>(631) 805-8588</span>
                <br><br>
            </div>
            <div>
                <span>Email:</span>
                <br>
                <span>kathryn.blecher@gmail.com</span>
                <br><br>
            </div>
            <div>
                <span>Linkedin:</span>
                <br>
                <span><a href="https://www.linkedin.com/profile/view?id=410317325&amp;trk=nav_responsive_tab_profile">Connect Here</a></span>
                <br><br>
            </div>
        <p class="spacer"></p>
    </div>
</div>
<footer>
    <p>KathrynBlecher.com</p>
</footer>

<script src="https://code.jquery.com/jquery-{{JQUERY_VERSION}}.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-{{JQUERY_VERSION}}.min.js"><\/script>')</script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X','auto');ga('send','pageview');
</script>
</body>
</html>
