<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>My Portfolio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css" title="reg">
    <link rel="stylesheet" href="css/portfolio.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="js/jquery-3.1.0.js"></script>

    <!-- added fonts-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=BenchNine:700" rel="stylesheet">

    <!-- script for mobile users-->
    <script>
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent)) {
            $(document).ready(function () {
                $(".sidebar").hide();
                $('link[title=reg]')[0].disabled = true;
                $("head").append('<link rel="stylesheet" href="css/mobile-main.css">');
                $("header").html('My portfolio <span class="btn-cont">' +
                    '<button onclick="show()" class="dropdown-btn"><i class="ion-navicon-round" style="font-size:30px;"></i></button>' +
                    '<div id="dmenu" class="dropdown">' +
                    '<a href="/">Home</a>' +
                    '<a href="resume.html">Resume</a>' +
                    '<a href="contact.html">Contact</a>' +
                    '</div>' +
                    '</span>');
            });
        }

        /* drop down animation */
        function show() {
            document.getElementById("dmenu").classList.toggle("show");
        }
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var x = document.getElementsByClassName("dropdown-btn");
                var i;
                for (i = 0; i < x.length; i++) {
                    var open = x[i];
                    if (open.classList.contains('show')) {
                        open.classList.remove('show');
                    }
                }
            }
        }
    </script>
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<header>Kathryn Blecher
    <nav class="navbar">
        <a href="./">Home</a> |
        Portfolio |
        <a href="./resume.html">Resume</a> |
        <a href="./contact.html">Contact</a>
    </nav>
</header>
<div class = "container">
    <div class="sidebar">
        <p>My work</p>
    </div>

    <div class = "mainbar">
        <p class="spacer"></p>
        <div>
            <button class="snip1535" id = "web_btn" onclick="window.location = './web.html';">Web</button>
            <button class="snip1535" id = "java_btn" onclick="window.location = './java.html';">Java</button>
            <button class="snip1535" id = "c_btn" onclick="window.location = './c.html';">C</button>
            <button class="snip1535" id = "assem_btn" onclick="window.location = './assem.html';">Assembly</button>
            <button class="snip1535" id = "python_btn" onclick="window.location = './python.html';">Python</button>
            <button class="snip1535" id = "other_btn" onclick="window.location = './other.html';">Other</button>
        </div>
        <p class="spacer"></p>
    </div>
</div>
<footer>
    <p>KathrynBlecher.com</p>
</footer>
</body>
</html>


<script src="https://code.jquery.com/jquery-{{JQUERY_VERSION}}.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-{{JQUERY_VERSION}}.min.js"><\/script>')</script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>

<script>
    $('#web_btn').click(function() {
        window.location.href='web.html';
    });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X','auto');ga('send','pageview');
</script>
</body>
</html>
